venv/
env/
*.venv
__pycache__/
*.pyc
*.db
*.sqlite3
instance/
.flaskenv
.coverage
data/
Anya_music.mp3
.md
GEMINI.md
pe.md
node_modules
doucment/
.env
voice_chat.md
.cursorrules
web_dashboard/
debug_test.py

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
0_discovery
1_design
2_implementation
3_validation
4_deployment
design_templates
seed_csv_output/
web_dashboard/
.cursorrules
test_education_api.py
EDUCATION_API_README.md
docker-compose.mac.yml
test_frontend_api_config.html
.roomodes
useLIFF.README.md
CACHE_DEPLOYMENT_GUIDE.md
.gitignore
docker-compose.optimized.yml
deploy-optimized.sh
.gitignore
services/web-app/Dockerfile.optimized
infra/nginx/optimized.conf
infra/nginx/Dockerfile.optimized
